body {
	display: flex;
	justify-content: center;
}

#container {
	display: grid;
	grid-template: repeat(16, 40px) / repeat(16, 40px);
	background-color: grey;
	padding: 10px;
}

.grid {
	background-color: White;
	border: 1px solid lightgrey;
	padding: 20px;
	text-align: center;
}

/* .grid.grid:hover {
    background-color: black;
} */

