.reset {
}

.game {
	display: flex;
	justify-content: center;
}

#container {
	display: grid;
	grid-template: repeat(16, 1fr) / repeat(16, 1fr);
	background-color: grey;
	padding: 10px;
}

.grid {
	border: 1px solid lightgrey;
	padding: 20px;
	text-align: center;
}

.uncoloured {
	background-color: White;
}

.coloured {
	background-color: grey;
}
